<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/pico.min.css">
    <title>{{ title }}</title>
  </head>

  <body>
    <main class="container">

      {{ '<small><a href="/">Home</a></small>' | safe if page.url != '/' }}
      <h1>{{ title }}</h1>

      {{ content | safe }}
    </main>

    <footer class="container">
      <hr/>
      <div class="grid">
        <div>
          Copyright 2024 Neil Martinsen-Burrell <a href="https://github.com/neilmb">@neilmb</a>
        </div>
        <div>
          <a href="https://github.com/neilmb/becoming-talented-tools/issues/new">
            Suggest improvements on Github
          </a>
        </div>
    </footer>
  </body>
</html>
